<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         version="6.0">


    <display-name>Job Portal</display-name>

    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>jsp/login.jsp</welcome-file>
    </welcome-file-list>

    <!-- Servlet Configurations -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.jobportal.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.jobportal.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplyServlet</servlet-name>
        <servlet-class>com.jobportal.servlets.ApplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplyServlet</servlet-name>
        <url-pattern>/ApplyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationsServlet</servlet-name>
        <servlet-class>com.jobportal.servlets.ApplicationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationsServlet</servlet-name>
        <url-pattern>/ApplicationsServlet</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>com.jobportal.servlets.UserListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/UserListServlet</url-pattern>
    </servlet-mapping>
     <!-- Servlet for Job List -->
    <servlet>
        <servlet-name>JobListServlet</servlet-name>
        <servlet-class>com.jobportal.servlets.JobListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JobListServlet</servlet-name>
        <url-pattern>/jobs</url-pattern>
    </servlet-mapping>
    

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.jobportal.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

</web-app>
